extends layout
block content
    form(id ="mainer" method = 'post' action = '/login')
        row
            label(for='username') Notendanafn
            input(id = 'line' type='text', name='username')
        row
            label(for='password') Lykilorð
            input(id = 'line' type='password', name='password')
        submit
            input(id = 'button' type="submit" value="Innskrá")