* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
}

#taflan {
  text-align: center;
  margin: auto;
  margin-top: 4%;
  height: 600px;
  border-bottom: 1px solid black;
}

#mainer {
  text-align: center;
  margin: auto;
  margin-top: 7%;
  padding-left: 31%;
  padding-right: 31%;
  padding-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 480px;
  border-bottom: 1px solid black;
}

label {
  font-size: 1.7rem;
  margin-left: 1.2em;
}

.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
  padding-top: 3%;
  justify-content: space-between;
  max-width: 100%;
}

.submit {
  padding-top: 4%;
  padding-right: 58%;
  display: flex;
  justify-content: flex-start;
  max-width: 100px;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

.table,
th,
td {
  width: 160px;
  border: 1px solid black;
}

#button {
  margin-left: 2em;
  min-width: 150px;
  min-height: 30px;
  background-color: #dcdcdc;
  border-radius: 25px;
}

#line {
  min-width: 300px;
  min-height: 40px;
  font-size: 1.3em;
}

ul {
  margin-left: 36%;
}

li {
  margin-top: 1%;
}

p {
  margin-left: 4%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  padding-top: 20%;
}

b {
  padding-bottom: 3%;
}

th {
  background-color: #d3d3d3;
}

td {
  height: 30px;
}

.bottom {
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 28%;
}

#formid {
  text-align: center;
  margin: auto;
  margin-top: 4%;
  padding-left: 31%;
  padding-right: 31%;
  padding-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 480px;
  border-bottom: 1px solid black;
}

a {
  display: flex;
  margin-top: 1%;
  margin-left: 4%;
}

